@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --green: hsl(75, 94%, 57%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
    --font-size-base: 14px;
    --font-size-lg: 1.25rem; /* Taille de police pour les titres */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: var(--font-size-base);
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-900);
    text-align: center;
    min-height: 100vh;
    overflow: hidden;
}

header {
    height: 15vh;
    padding: 20px;
}

main {
    width: 100%;
    max-width: 375px; /* Responsive width for mobile */
    padding: 30px;
    border-radius: 10px;
    background: var(--grey-800);
    text-align: center;
}

main img {
    width: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
}

main h2 {
    font-size: var(--font-size-lg);
    margin: 10px 0;
}

#adress {
    color: var(--green);
    font-size: 0.875rem; /* Small text */
}

#title {
    font-size: 1rem;
    font-style: italic;
    padding: 5px;
}

main ul {
    padding: 0;
    margin: 20px 0 0;
}

main ul li {
    list-style: none;
    margin-top: 10px;
}

main ul li a {
    display: block;
    padding: 10px;
    background: var(--grey-700);
    color: inherit;
    border-radius: 7px;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

main ul li a:hover {
    background: var(--green);
    color: #121212;
}

footer {
    height: 20vh;
    padding: 20px;
    font-size: 0.875rem; /* Slightly smaller text */
}

footer .attribution {
    text-align: center;
}

footer .attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
    transition: color 0.3s ease;
}

footer .attribution a:hover {
    color: var(--green);
}
